[submodule "deps/styles"]
	path = deps/styles
	url = https://github.com/citation-style-language/styles
[submodule "deps/elisp/s.el"]
	path = deps/elisp/s.el
	url = https://github.com/magnars/s.el.git
[submodule "deps/elisp/compat.el"]
	path = deps/elisp/compat.el
	url = https://github.com/phikal/compat.el
[submodule "deps/elisp/dash.el"]
	path = deps/elisp/dash.el
	url = https://github.com/magnars/dash.el
[submodule "deps/elisp/emacs-htmlize"]
	path = deps/elisp/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "deps/elisp/magit"]
	path = deps/elisp/magit
	url = https://github.com/magit/magit
[submodule "deps/elisp/nix-mode"]
	path = deps/elisp/nix-mode
	url = https://github.com/NixOS/nix-mode
[submodule "deps/elisp/citeproc-el"]
	path = deps/elisp/citeproc-el
	url = https://github.com/andras-simonyi/citeproc-el
[submodule "deps/elisp/f.el"]
	path = deps/elisp/f.el
	url = https://github.com/rejeep/f.el
[submodule "deps/elisp/parsebib"]
	path = deps/elisp/parsebib
	url = https://github.com/joostkremers/parsebib
[submodule "deps/elisp/elquery"]
	path = deps/elisp/elquery
	url = https://github.com/AdamNiederer/elquery
