a {
    color: #0000ff;
}

body {
    font-size: 1.25em;
    width: 800px;
    margin: auto;
}

body, p, li, h1, h2, h3, h4, h5, h6, legend {
    font-family: "Source Serif Pro", serif;
}

p, li {
    line-height: 1.2em;
}

p, ol, ul {
    margin-bottom: 0.5em;
}

li {
    margin-bottom: 0;
}

table {
    margin: 1em auto 0em auto;
    border-spacing: 0;
    border-radius: 4px;
    border: 1px solid #777;
    border-collapse: unset;
}

th, td {
    padding: 3px 6px;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
}

th:last-child, td:last-child  {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

/* Center all images. */
img {
    display: block;
    margin: 0 auto;
}

/* Increase text size for smaller sections. */
h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h7 {
    font-weight: bold;
    font-size: 18pt;
}
.outline-7 {
    margin-top: 1em;
}

code {
    background: #eee;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
}

thead {
    background: #eee;
}

pre {
    font-size: 0.8em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.section-heading {
    color: black;
    text-decoration: none;
}

a.section-heading:hover::after {
    float: left;
    margin-left: -1.3em;
    content: "\1f517";
}
.org-src-container {
    margin: 1em 0;
}

.org-src-container pre {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    border-width: 0;
    scroll-margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #999;
    border-radius: 5px;
}

/* Source code block body. */
.org-src-container pre.src {
    background-color: #f3f3f3;
}

.lilac-caption {
    font-family: "Source Code Pro", monospace;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.lilac-caption label {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #ddd;
    border-color: #999;
}

.lilac-caption-source-code-block-name {
    color: #444444;
    font-weight: bold;
    margin-right: 5px;
}

.lilac-caption-parent-link {
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
.lilac-caption-parent-link a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #21618c;
    background-color: #d8f6ff;
    border-radius: 5px;
    border-style: solid;
    border-bottom-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.lilac-caption-parent-link a:hover {
    color: #7d3c98;
    background-color: #f8e9ff;
    text-decoration: none;
}

.lilac-caption-link-symbol a {
    margin-right: 5px;
}
.lilac-caption-link-symbol a:hover {
    text-decoration: none;
}

.lilac-caption-listing-number {
    margin-right: 5px;
}
.lilac-child-link-from-parent {
    font-weight: bold;
}
.lilac-child-link-from-parent a {
    color: #21618c;
    background-color: #d8f6ff;
    border-radius: 5px;
    border-style: solid;
    margin: 5px 0;
    padding: 2px 5px;
    display: inline-block;
}
.lilac-child-link-from-parent a:hover {
    color: #7d3c98;
    background-color: #f8e9ff;
    text-decoration: none;
}
.sidenote {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: right;
        clear: right;
        margin-right: -23vw;
        padding-right: 2vw;
        text-align: left;
        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}
/* Narrow viewport */
@media (max-width: 1400px) {
    .sidenote {
        float: right;
        text-align: left;
        width: 100%;
        margin: 1rem 0;
        padding-left: 15%;
    }
}
